name: Validate Pull Request

on:
  pull_request:

jobs:
  validate-pull-request:
    runs-on: ubuntu-latest
    name: Validate Pull Request
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Pull request linter action
        uses: JulienKode/pull-request-name-linter-action@v0.5.0

      - name: Commit Linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: wagoid/commitlint-github-action@v5.4.3

  test-action:
    runs-on: ubuntu-latest
    name: release-it Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm ci

      - name: Test running action
        id: test-run
        uses: ./
        env:
          DEBUG: release-it:*
        with:
          debug: true
          json-opts: >
            {
              "dry-run": true,
              "git": false,
              "github": false,
              "plugins": {
                "@release-it/bumper": {
                  "in": { "file": "VERSION", "type": "text/plain" }
                }
              }
            }
